<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ainul Quran</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">


</head>
<body class="bg-light">
<style>
    html,body {
  height: 100%;
}
</style>
<th:block th:insert="fragments/navigation.html :: #mainNav"></th:block>



    <div class="row ml-0 mr-0 pl-0 h-100">
        <th:block th:insert="fragments/sidebarAdmin.html :: #sidebarAdmin"></th:block>
        <div class="col-lg-9 border border-left-0 border-top-0 border-bottom-0">
            <h2>List of User</h2>

            <table id="example" class="table" style="width:100% !important">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${UserInfo}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <button type="button" th:id="${user.username}"  onClick="confirmDelete(this.id)" class="btn btn-danger">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <td>

                        <button type="button" th:id="${user.email}"  onClick="edit(this.id)" class="btn btn-primary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

                        </button>

                    </td>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>





        </div>


    </div>



    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" style="text-align:center">
                    <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>

                    <div>Are you sure you want to delete <span id="wordselected"></span> from user list ?</div>
                    <hr>
                    <a class="btn btn-danger" id="removelink">Yes</a>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>

                </div>

            </div>

        </div>
    </div>

<script src="/webjars/jquery/jquery.min.js" ></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
});

    function confirmDelete(id) {
    $("#wordselected").html(id);
    $("#removelink").attr("href", "/admin/removeUser/"+id);
    $("#deleteModal").modal();

    }

    function edit(id) {
    location.href="/admin/editUserDetail/"+id;
    }

</script>
<th:block th:if="${errorMessage}">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div th:text="${errorMessage}"></div>

                </div>

                <div class="modal-footer">
                    <a href="javascript:history.back()" class="btn btn-default" >Back</a>
                </div>
            </div>

        </div>
    </div>


    <script>
      $("#myModal").modal();
  </script>
</th:block>

<th:block th:if="${successMessage}">
    <div id="successmodal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div th:text="${successMessage}"></div>

                </div>

                <div class="modal-footer">
                    <a href="javascript:history.back()" class="btn btn-default" >Back</a>
                </div>
            </div>
        </div>

    </div>


    <script>
      $("#successmodal").modal();
  </script>

</th:block>

</body>
</html>