<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ainul Quran</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">



</head>
<body class="bg-light">
<style>
    html,body {
  height: 100%;
}
</style>
<th:block th:insert="fragments/navigation.html :: #mainNav"></th:block>


    <div class="row ml-0 mr-0 pl-0 h-100">
        <th:block th:insert="fragments/sidebarAdmin.html :: #sidebarAdmin"></th:block>
        <div class="col-lg-9 border border-left-0 border-top-0 border-bottom-0">
            <h2>List of User Payment</h2>
            <div th:if="${param.success}" class="alert alert-success alert-dismissible  ">Changes saved.

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table id="example" class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>username</th>
                    <th>status</th>
                    <th>billcode</th>
                    <th>invoiceno</th>
                    <th>billAmount</th>

                </tr>
                </thead>
            </table>





        </div>




</div>


<script src="/webjars/jquery/jquery.min.js" ></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


<script charset="UTF-8" th:inline="javascript">
var data = [[${paymentList}]];



$(document).ready(function() {
    $('#example').DataTable({
    data: data,
    columns: [
        { data: 'id' },
        { data: 'username' },
        { data: 'status' },
        { data: 'billcode' },
        { data: 'invoiceno' },
        { data: 'amountreceived' }




    ]
    });
});




</script>





</body>
</html>