<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Ainul Quran</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">


</head>
<body class="bg-light">
<style>
    html,body {
  height: 100%;
}
</style>

<th:block th:insert="fragments/navigation.html :: #mainNav"></th:block>



    <div class="row ml-0 mr-0 pl-0 h-100">
        <th:block th:insert="fragments/sidebarAdmin.html :: #sidebarAdmin"></th:block>
        <div class="col-lg-9 border border-left-0 border-top-0 border-bottom-0">
            <h2 th:inline="text">List of word for chapter [[${chapter}]]</h2>
            <div th:if="${param.success}">
                <div class="alert alert-success alert-dismissible ">Changes saved.

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <table id="example" class="table" style="width:100% !important">
                <thead>
                <tr>
                    <th>Chapter</th>
                    <th>Ayat</th>
                    <th>Word</th>
                    <th>Arabic Word</th>
                    <th>English translation</th>
                    <th>Malay Translation</th>
                    <th>Edit | Add | Delete</th>
                </tr>
                </thead>
            </table>





        </div>


    </div>



<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align:center">
                <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>

                <div>Are you sure you want to delete <span id="wordselected"></span> ?</div>
                <hr>
                <a class="btn btn-danger" id="removelink">Yes</a>
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>

            </div>

        </div>

    </div>
</div>

<script src="/webjars/jquery/jquery.min.js" ></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script charset="UTF-8" th:inline="javascript">
var data = [[${wbwList}]];


$(document).ready(function() {
    $('#example').DataTable({
    data: data,
    columns: [
        { data: 'chapter',
          "orderData": [ 0, 1, 2 ]},
        { data: 'ayat' },
        { data: 'word' },
        { data: 'wordarabic' },
        { data: 'wordenglish' },
        { data: 'wordmalay' },
         { data: null, render: function ( data, type, row ) {
                var editContent = '<button type="button" id=" ' + data.id  +' "  onClick="edit(this.id)" class="btn btn-primary"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>';
                var addContent = '<button type="button" id="' + data.id  +' "  onClick="add(this.id)" class="btn btn-success"> <i class="fa fa-plus" aria-hidden="true"></i>';
                var deleteContent = '<button type="button" id="' + data.id  +' "  onClick="confirmDelete(this.id)" class="btn btn-danger"> <i class="fa fa-trash-o" aria-hidden="true"></i>';

                return editContent+' '+ addContent+' '+deleteContent;
            } }
    ]
    });
});



    function edit(id) {
    location.href="/admin/editWbwDetail/"+id;
    }

     function add(id) {
    location.href="/admin/addWbwAfter/"+id;
    }

      function confirmDelete(id) {
    $("#wordselected").html(id);
    $("#removelink").attr("href", "/admin/removeWbw/"+id);
    $("#deleteModal").modal();

    }




</script>
<th:block th:if="${errorMessage}">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div th:text="${errorMessage}"></div>

                </div>

                <div class="modal-footer">
                    <a href="javascript:history.back()" class="btn btn-default" >Back</a>
                </div>
            </div>

        </div>
    </div>


    <script>
      $("#myModal").modal();
  </script>
</th:block>


<th:block th:if="${newwbw}">

    <div id="addWbw" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">

                    <form th:action="@{/admin/addWbwAfter}" th:object="${newwbw}" method="post">


                        <div class="form-group">
                            <label for="chapteradd" class="control-label">Chapter </label>
                            <input id="chapteradd" class="form-control" th:field="*{chapter}" readonly="readonly" />

                        </div>


                        <div class="form-group">
                            <label for="ayatadd" class="control-label">Ayat </label> <input
                                id="ayatadd" class="form-control" th:field="*{ayat}" readonly="readonly" />

                        <div class="form-group">
                                <label for="wordadd" class="control-label">Word</label> <input
                                    id="wordadd" class="form-control" th:field="*{word}" readonly="readonly" />

                        </div>

                        </div>
                        <div class="form-group">
                            <label for="wordarabicadd" class="control-label">Arabic Word</label> <input
                                id="wordarabicadd" class="form-control" th:field="*{wordarabic}" />

                        </div>

                        <div class="form-group">
                            <label for="wordenglishadd" class="control-label">English Translation</label> <input
                                id="wordenglishadd" class="form-control" th:field="*{wordenglish}" />

                        </div>

                        <div class="form-group">
                            <label for="wordmalayadd" class="control-label">Malay Translation</label> <input
                                id="wordmalayadd" class="form-control" th:field="*{wordmalay}" />

                        </div>




                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Edit</button>
                            <a href="javascript:history.back()"  class="btn btn-default" >Close</a>
                        </div>


                    </form>



                </div>


            </div>
        </div>

    </div>


    <script>
      $("#addWbw").modal({
      backdrop: 'static',
      keyboard: false
      });
  </script>

</th:block>


<th:block th:if="${wbwDetail}">

    <div id="edit" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">

                    <form th:action="@{/admin/saveWbw}" th:object="${wbwDetail}" method="post">

                        <div class="form-group">
                            <label for="id" class="control-label">Id </label>
                            <input id="id" class="form-control" th:field="*{id}" readonly="readonly" />

                        </div>

                        <div class="form-group">
                            <label for="chapter" class="control-label">Chapter </label>
                            <input id="chapter" class="form-control" th:field="*{chapter}" readonly="readonly" />

                        </div>


                        <div class="form-group">
                            <label for="ayat" class="control-label">Ayat </label> <input
                                id="ayat" class="form-control" th:field="*{ayat}" readonly="readonly" />

                            <div class="form-group">
                                <label for="word" class="control-label">Word</label> <input
                                    id="word" class="form-control" th:field="*{word}"  />

                            </div>

                        </div>
                        <div class="form-group">
                            <label for="wordarabic" class="control-label">Arabic Word</label> <input
                                id="wordarabic" class="form-control" th:field="*{wordarabic}" />

                        </div>

                        <div class="form-group">
                            <label for="wordenglish" class="control-label">English Translation</label> <input
                                id="wordenglish" class="form-control" th:field="*{wordenglish}" />

                        </div>

                        <div class="form-group">
                            <label for="wordmalay" class="control-label">Malay Translation</label> <input
                                id="wordmalay" class="form-control" th:field="*{wordmalay}" />

                        </div>




                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Edit</button>
                            <a href="javascript:history.back()"  class="btn btn-default" >Close</a>
                        </div>


                    </form>



                </div>


            </div>
        </div>

    </div>


    <script>
      $("#edit").modal({
      backdrop: 'static',
      keyboard: false
      });
  </script>

</th:block>

</body>
</html>