<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ainul Quran</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/webjars/jquery/jquery.min.js" ></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>
<body class="bg-light">
<th:block th:insert="fragments/navigation.html :: #mainNav"></th:block>

<div class="container">
    <h2>User Profile</h2>

    <div class="row">
        <div class="col-lg-8 border border-left-0 border-top-0 border-bottom-0">
            <ul class="list-group" th:each="user : ${UserInfo}">
                <li class="list-group-item" ><h5>Id: </h5> <p th:text="${user.id}"></p></li>
                <li class="list-group-item" ><h5>First Name: </h5> <p th:text="${user.firstName}"></p></li>
                <li class="list-group-item" ><h5>Last Name: </h5> <p th:text="${user.lastName}"></p></li>
                <li class="list-group-item" ><h5>Email: </h5> <p th:text="${user.email}"></p></li>
                <li class="list-group-item" ><h5>Username: </h5> <p th:text="${user.username}"></p></li>

            </ul>
        </div>
        <div class="col-lg-4">
            <h3>Edit Profile: </h3>
            <a th:href="@{/edit}" class="btn btn-success">Edit Profile</a>
            <hr>
            <h3>Change Password: </h3>
            <a th:href="@{/changepass}" class="btn btn-success">Change Password</a>
        </div>
    </div>






</div>


</body>
</html>