
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>Surah View</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    @font-face {
  font-family: 'KFGQPC Uthman Taha Naskh Regular';
  src: url('../KFGQPC Uthman Taha Naskh Regular.ttf');
}
        body{
        background: hsl(150,85%,97%);
        }

        .single-word {
        font-family: KFGQPC Uthman Taha Naskh Regular;
        text-align: center;
        margin: 0 8px;
        float:right;
        }
        .arabic-text {
        font-size: 50px;

        }
        .single-word:hover {
        color: hsl(360,85%,76%);
        cursor: pointer;
        }
        .word-transliteration {
        padding-top: 10px;
        padding-bottom: 2px;
        }


        :target {
        background-color: #A9FFF7;
        border-radius: .25rem !important;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;

}



    </style>
</head>
<body class="bg-light">
<th:block th:insert="fragments/navigation.html :: #mainNav"></th:block>




<div class="container mt-5">
    <div class="jumbotron text-center ">
            <p class="display-4 lead"th:inline="text">Surah [[${surahDetail.namearb}]] - [[${surahDetail.nameroman}]]</p>
        <div class="d-flex justify-content-between">
            <button id="leftarrow" aria-hidden="true" class="btn fa fa-arrow-left fa-4x"></button>
            <button id="rightarrow" aria-hidden="true" class="btn fa fa-arrow-right fa-4x "></button>
        </div>

            <i class="lead " th:inline="text"> [[${surahDetail.nameeng}]]</i>
            <p class="lead" th:inline="text">Type: [[${surahDetail.surahtype}]] Count: [[${surahDetail.ayacount}]]</p>
        <label for="select">Select Audio type: </label>
        <select class="form-control" onchange="changeSrc(this.value)" id="select">
            <option id="ar.alafasy" value="ar.alafasy">Default - Alafasy"</option>
            <th:block th:each="data: ${editionDetails}">
                <option th:id="${data.identifier}" th:value="${data.identifier}" th:text="${data.englishName} + ' - '+ ${data.language}"></option>
            </th:block>
        </select>




    </div>




    <th:block th:each="sura,status: ${Surah}">
        <span class="float-right w-100 p-3 mb-5">

        <th:block th:each="word,status: ${sura.value}">
            <span th:id="'c'+${word.chapter}+'a'+${word.ayat}+'w'+${word.word}" class="single-word">
            <span data-toggle="popover" class="arabic-text" th:text="${word.wordarabic}"> </span><br>
            <span  th:text="${word.wordenglish}"></span><br>
                <span  th:text="${word.wordmalay}"></span><br>
            <span th:text="${word.wordtransliteration}"></span>
            </span>
            <th:block th:if="${status.last}">
            <span class="single-word">
            <span  class="arabic-text" th:id="'toArabicNumeral'+${word.ayat}"></span>
            </span>

            </th:block>

        </th:block>
             <br>
        <span class="float-right" style="clear:both" th:utext="${sura.key}" >
        </span>
            <span>
                <audio controls id="audio" preload="none" class="w-100">
                    <source
                            th:if="${param.audiosrc}" th:src="@{http://cdn.alquran.cloud/media/audio/ayah/{edition}/{ayatNumber}/low(edition=${param.audiosrc},ayatNumber=${status.count}+${previousSuraAyaCount})}"
                            type="audio/ogg">
                     <source th:unless="${param.audiosrc}"
                             th:src="@{http://cdn.alquran.cloud/media/audio/ayah/ar.alafasy/{ayatNumber}/low(ayatNumber=${status.count}+${previousSuraAyaCount})}"
                             type="audio/ogg">
                </audio>

            </span>


        </span>

    </th:block>


</div>






<!-- script load !-->
<script src="/webjars/jquery/jquery.min.js" ></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">

function changeSrc(value){
    location.href="?audiosrc=" + value;
}

var selected=[[ ${param.audiosrc} ]];

if(selected!=null){
document.getElementById(selected).setAttribute("selected","");
}



$(document).ready(function(){


var ayat=[[${surahDetail.ayacount}]];

function toArabicNum(n){
        var ArabicNum=n+'';

        for (let c of ArabicNum) {
        ArabicNum=ArabicNum.replace("0","۰");
        ArabicNum=ArabicNum.replace("1","١");
        ArabicNum=ArabicNum.replace("2","٢");
        ArabicNum=ArabicNum.replace("3","٣");
        ArabicNum=ArabicNum.replace("4","٤");
        ArabicNum=ArabicNum.replace("5","٥");
        ArabicNum=ArabicNum.replace("6","٦");
        ArabicNum=ArabicNum.replace("7","٧");
        ArabicNum=ArabicNum.replace("8","٨");
        ArabicNum=ArabicNum.replace("9","٩");
        }



        ArabicNum="﴾" +ArabicNum;

        ArabicNum=ArabicNum+"﴿";
        return ArabicNum;
    }


for (var i = 1; i <= ayat; i++) {
  $("#toArabicNumeral"+i).text(toArabicNum(i));
}


var chapter=[[${chapter}]];

$("#leftarrow").on('click',function(e) {
    if(chapter>1){
    chapter=chapter-1;
    location.href="/surah/" + chapter +"";
    }
});

$("#rightarrow").on('click',function(e) {
 if(chapter<114){
    chapter=chapter+1;
    location.href="/surah/" + chapter +"";
    }
});



});

</script>

<th:block sec:authorize="hasRole('ROLE_PAID')">
    <div id="popover-content" style="display: none">
        <!-- Hidden div with the popover content -->
        <p>This is the popover content</p>
    </div>

    <script th:inline="javascript">
        $('.arabic-text').click(function(e) {
  arabicword = $(e.target).text();

  var contentHtml ='<a href="/vocab/'+encodeURI(arabicword)+'"  class="btn btn-success">Save Word to Vocab</a>';

  $('#popover-content').html(contentHtml);

  $('[data-toggle="popover"]').popover({
  html: true,
  content: function() { return $('#popover-content').html(); },
  placement: 'top',
  });







$('html').on('click', function(e) {
  if (typeof $(e.target).data('original-title') == 'undefined' &&
     !$(e.target).parents().is('.popover.in')) {
    $('[data-original-title]').popover('hide');
  }
});

});
    </script>

</th:block>

</body>
</html>