<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ainul Quran</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
    <div class="container">
        <a class="navbar-brand " th:href="@{/}">Ainul-Quran</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapsee" aria-controls="navbarcollapsee" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-white">Menu</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarcollapsee">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/vocab}">View Vocabulary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/logout}">Log out</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/profile}">Welcome <span sec:authentication="name"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pl-0 ml-0">

    <div class="row ml-0 pl-0">
        <div class="col-lg-3 ml-0 pl-0 pr-0 shadow bg-light" style="height:90vh">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>


                <a href="#profilesetting" data-toggle="collapse" class="list-group-item list-group-item-action bg-light">
                    Profile Setting
                    <i class="fa fa-chevron-down " style="float:right" aria-hidden="true"></i>

                </a>
                <!--                submenu item-->
                <div id="profilesetting" class="collapse">
                    <a th:href="@{/changepass}" class="list-group-item list-group-item-action bg-light pl-5">Change Password</a>
                </div>

                <a href="#manageuser" data-toggle="collapse" class="list-group-item list-group-item-action bg-light">
                    Manage User
                    <i class="fa fa-chevron-down " style="float:right" aria-hidden="true"></i>

                </a>
                <!--                submenu item-->
                <div id="manageuser">
                    <a th:href="@{/admin/listUser}" class="list-group-item list-group-item-action activebg-light pl-5">List/Delete/Edit User</a>
                    <a th:href="@{/admin/addUser}" class="list-group-item list-group-item-action bg-light pl-5">Add User</a>
                </div>



            </div>

        </div>
        <div class="col-lg-9 border border-left-0 border-top-0 border-bottom-0">
            <div th:if="${param.success}">
                <div class="alert alert-info">successfully edited user details</div>
            </div>
            <form th:action="@{/admin/saveUserDetail}" th:object="${userDetail}" method="post">

                <div class="form-group">
                    <label for="firstName" class="control-label">Id</label>
                    <input id="id" class="form-control" th:field="*{id}" readonly="readonly" />

                </div>


                <div class="form-group">
                    <label for="firstName" class="control-label">First name</label> <input
                        id="firstName" class="form-control" th:field="*{firstName}" />

                </div>
                <div class="form-group">
                    <label for="lastName" class="control-label">Last name</label> <input
                        id="lastName" class="form-control" th:field="*{lastName}" />

                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <label for="username" class="control-label">Username</label> <input
                        id="username" class="form-control" th:field="*{username}" />

                </div>
                <div class="form-group">
                    <label for="email" class="control-label">E-mail</label> <input
                        id="email" class="form-control" th:field="*{email}" />

                </div>
                <label for="form-check" class="control-label">roles</label>
                <div class="form-check" id="form-check">


                    <input type="checkbox" class="form-check-input" id="ROLE_USER" value="ROLE_USER" th:field="*{roles}">
                    <label class="form-check-label" for="ROLE_USER">USER</label>
                     <br>
                    <input type="checkbox" class="form-check-input" id="ROLE_ADMIN" value="ROLE_ADMIN" th:field="*{roles}">
                    <label class="form-check-label" for="ROLE_ADMIN">ADMIN</label>


                    <p></p>

                </div>




                <div class="form-group">
                    <button type="submit" class="btn btn-success">Edit</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="/webjars/jquery/jquery.min.js" ></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" th:inline="javascript">

var roles=[[${userDetail.roles}]];
console.log(roles);

roles.forEach(function (e){

    if (e.name == ("ROLE_USER")) {
    $("#ROLE_USER").prop('checked', true);
    }

    if (e.name == ("ROLE_ADMIN")) {
    $("#ROLE_ADMIN").prop('checked', true);
    }
});


$(document).ready(function() {
    $('#example').DataTable();

});

    function confirmDelete(id) {
    $("#wordselected").html(id);
    $("#removelink").attr("href", "/removeUser/"+id);
    $("#deleteModal").modal();

    }

    function edit(id) {
    location.href="/editUserDetail/"+id;
    }


</script>
</body>
</html>