<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ainul Quran</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/webjars/jquery/jquery.min.js" ></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body" style="text-align:center">
            <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>

            <div>Opps!.. something has gone wrong.. The page could not be found!</div>
            <hr>
            <a href="javascript:history.back()" class="btn btn-primary">Back</a>


        </div>

    </div>
</div>
</body>
</html>