<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ainul Quran</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<style>
    .border {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin:0;
    padding:0;
    }

    .table td{
    padding:0;
    }

    .highlighted {
    background-color:lime;
    }
</style>
</head>
<body class="bg-light">>
<th:block th:insert="fragments/navigation.html :: #mainNav"></th:block>
<div class="container">

    <div>
        <table class="table" width="100vw">
         <thead>
         <tr>
             <th>Surah</th>
             <th>Word</th>
         </tr>
         </thead>
            <tbody>
            <th:block th:each="list: ${test}">
                <tr>
                    <td id="surano" th:text="${list.surano}"></td>
                    <td><table>
                        <tr style="display:flex;flex-flow:wrap">
                        <th:block th:each="listofword: ${list.word}">

                        <td><a href="#" th:id="${listofword}" onclick="highlight(this.id);" class="border" width="100px"></a></td>
                    </th:block>

                    </tr></table></td>



                </tr>


            </th:block>

            </tbody>
        </table>
    </div>

</div>
<script src="/webjars/jquery/jquery.min.js" ></script>
<script th:inline="javascript">
    var data = [[${highlightcss}]];
    var word = [[${word}]];

data.forEach(myFunction);

function myFunction(item, index) {
  var choosen="#"+item;
  $(choosen).addClass("highlighted");
  $(choosen).html(word);
}

function highlight(id) {

     var n = id.indexOf("a");
     var surano = id.substr(1,n-1);
     var url="/surah/"+surano+"#"+id;
     location.href = url;

}



</script>
</body>
</html>