<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ainul Quran</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
    <div class="container">
        <a class="navbar-brand " th:href="@{/}">Ainul-Quran</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapsee" aria-controls="navbarcollapsee" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-white">Menu</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarcollapsee">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active " th:href="@{/vocab}">View Vocabulary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/logout}">Log out</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Welcome <span sec:authentication="name"></span></a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-2">
            <h2>Your Saved Vocabulary: </h2>
            <div class="list-group">
                <th:block th:each="list: ${wbw}">
                    <a th:href="@{/vocab/viewword/{word}(word=${list.vocab})}" class="list-group-item" th:text="${list.vocab}"></a>

                </th:block>

            </div>
        </div>

        <div class="col-lg-10">
            <div id="chart_div" style="width: 66vw; height: 50vh;"></div>
            <table id="example" class="table table-hover table-striped" style="width:100% !important">
                <thead>
                <tr>
                    <th>Chapter</th>
                    <th>Ayat</th>
                    <th>Word</th>
                    <th>Arabic</th>
                    <th>English</th>
                    <th>Malay</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="wordselected : ${wordselected}">
                    <td th:text="${wordselected.chapter}"></td>
                    <td th:text="${wordselected.ayat}"></td>
                    <td th:text="${wordselected.word}"></td>
                    <td th:text="${wordselected.wordarabic}"></td>
                    <td th:text="${wordselected.wordenglish}"></td>
                    <td th:text="${wordselected.wordmalay}"></td>
                </tr>
                </tbody>
            </table>


        </div>



    </div>
    <div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script th:inline="javascript">
        var label=[
        ['Surah','Occurrence']
        ];
      var dataforchart= [(${dataforchart})];
      var word= '[(${word})]';
      var toptitle='word occurence for '+word;
      console.log(toptitle);
      dataforchart=label.concat(dataforchart);
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(dataforchart);

        var options = {
          title: toptitle,
          explorer: {},
          groupWidth: 20,
          hAxis: {title: 'Surah Chapter', minValue: 1, maxValue: 114},
          vAxis: {title: 'Occurrence',minValue:1,baseLine:1},
          legend: 'none',
          aggregationTarget: 'category'
        };

//        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));-->
         var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }


</script>


    </div>
</div>
<script src="/webjars/jquery/jquery.min.js" ></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
});
</script>

</body>
</html>